.profile__avatar-btn {
  width: 120px;
  height: 120px;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8) url(../../../images/profile_avatar-btn.svg) no-repeat center;
  opacity: 0;
  transition: 0.3s opacity linear;
}

.profile__avatar-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 730px) {
  .profile__avatar-btn {
    top: 0;
    left: calc(50% - 60px);
  }
}
