.popup__container_place_alert {
  padding: 60px 36px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (max-width: 510px) {
  .popup__container_place_alert {
    width: 280px;
    min-height: 308px;
    padding: 50px 18px;
    gap: 40px;
  }
}